{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>

  <p>
    <strong>Manufacturer:</strong>
    {{ car.manufacturer.name }} ({{ car.manufacturer.country }})
  </p>

  <form action="{% url 'taxi:car-toggle-assign' pk=car.id %}" method="post">
    {% csrf_token %}

    {% if is_user_driver %}
      <button type="submit" class="btn btn-danger">
        Delete me from this car
      </button>
    {% else %}
      <button type="submit" class="btn btn-success">
        Assign me to this car
      </button>
    {% endif %}
  </form>

  <h2 class="mt-3">Drivers</h2>
  <hr>

  {% if car.drivers.all %}
    <ul>
      {% for driver in car.drivers.all %}
        <li>
          {{ driver.username }}
          {% if driver.first_name or driver.last_name %}
            ({{ driver.first_name }} {{ driver.last_name }})
          {% endif %}

          {% if driver.license_number %}
            - {{ driver.license_number }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No drivers!</p>
  {% endif %}
{% endblock %}
